* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

html {
	font-size: 10px;
}

@media screen and (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

h1 {
	margin: 1rem 0 3rem;
}

h3 {
	margin: 0.5rem 0;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: #646cff;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}
